@using ManagementCourse.Models.ViewModel;
@model CourseExamViewModel


@{
    int temp = 0;

    Random rand = new Random();

    // Tạo một danh sách gồm 10 số ngẫu nhiên từ 1 đến 100
    List<int> randomList = new List<int>();
    for (int i = 0; i < 10; i++)
    {
        int num = rand.Next(1, 101); // tạo số ngẫu nhiên từ 1 đến 100
        randomList.Add(num);
    }
    var resultID = Model.CourseExamResult.Id;
}


<div class="row mb-3" style="color:#000000 !important">
    <div class="card col-md-8">
        <div class="card-header">
            <h3 class="card-title">
                Bài thi khóa học xx @Model.CourseExam.NameExam
            </h3>
            <button class="btn btn-success" id="btn-submit-exam">Nộp</button>
        </div>
        <div class="card-body">
            <div class="container">
                <div id="question-container">
                </div>


                <button class="btn btn-info" id="prev-button">Prev</button>
                <button class="btn btn-info" id="next-button">Next</button>
                <input value="" id="question-id-0" style="display: none;">

            </div>
        </div>

    </div>
    <div class="card col-md-4">
        <div id="question-navigation"></div>
    </div>
</div>
@section Scripts {
    <script>
        var resultID = "@resultID";
        var courseExamID = "@Model.CourseExam.ID";
    </script>

}

<script src="~/js/courseexam_index.js" asp-append-version="true"></script>